
$mainFont                : 'Roboto', sans-serif;


$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 450px;
$smPhoneWidth            : 320px;


$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$orange-color            : #FFA500;
$warning-color           : #ffc740;
$orange-shadow           : #FFC775;
$light-color             : #999999;
$purple-color            : #9B51E0;
$purple_btn-color        : #6d3d99;
$purple-bg               : #6D3DBB;
$purple-shadow           : #6D3D77;


$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;


$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
